.source {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: purple;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  font-size: 10px;
  line-height: 1;
  padding: 5px;
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
