.*.swp
._*
.DS_Store
.git
.gitlab-ci*
.github
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
.travis.yml
.editorconfig
.eslint*
.yarnrc
.babel*
.stylelint*
.storybook
.yarn*
.prettier*
jest*
postcss*
prettier*
rollup*
vit*
setupTests.*

coverage
