@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* light mode colors */
  :root {
    --color-primary: #694ed6;
    --color-secondary: #c137a2;
    --color-neutral: #fafafa;
    --color-surface: #ffffff;
    --color-success: #008744;
    --color-error: #d60040;
    --color-warning: #ff600a;
    --color-primary-fg: #ffffff;
    --color-secondary-fg: #ffffff;
    --color-neutral-fg: #000000;
    --color-surface-fg: #000000;
    --color-success-fg: #ffffff;
    --color-error-fg: #ffffff;
    --color-warning-fg: #000000;
    --color-gradient: linear-gradient(to right, #694ed6, #c137a2);
  }
  /* dark mode colors */
  .dark {
    --color-primary: #afa0e2;
    --color-secondary: #e453bf;
    --color-neutral: #191919;
    --color-surface: #242424;
    --color-success: #26d07c;
    --color-error: #ff4f5c;
    --color-warning: #ff880a;
    --color-primary-fg: #000000;
    --color-secondary-fg: #000000;
    --color-neutral-fg: #ffffff;
    --color-surface-fg: #ffffff;
    --color-success-fg: #000000;
    --color-error-fg: #000000;
    --color-warning-fg: #000000;
    --color-gradient: linear-gradient(to right, #afa0e2, #e453bf);
  }
}
